---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Pagina no encontrada"
  pageTitle="Pagina no encontrada"
  description="Pagina no encontrada"
>
  <div class="flex justify-center items-center flex-col gap-5">
    <h1>¡Oops! Página no encontrada.</h1>
    <p>Lo sentimos, pero la página que buscas no existe.</p>
    <a href="/" class="bg-green-cumtual text-[#FFF] p-2 rounded-lg"
      >Volver al inicio</a
    >
  </div>
</Layout>
