---
import { BurguerMenu } from "./BurguerMenu";
import { Slider } from "./Slider";
import CumtualSVG from "./CumtualSVG.astro";
---

<header class="p-[30px] sticky top-0 left-0 z-30 bg-transparent">
  <div class="flex justify-between items-center">
    <a href="/">
      <div class="flex items-center">
        <CumtualSVG />
        <p class="text-gradient text-xl font-bold">Raices</p>
      </div>
    </a>
    <div>
      <nav class="block md:hidden">
        <BurguerMenu client:load />
        <Slider client:load />
      </nav>
      <nav class="hidden md:flex gap-5">
        <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Nosotros</a>
        <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Anuncios</a>
        <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Blog</a>
        <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Contacto</a>
      </nav>
    </div>
  </div>
</header>


<script>
  window.addEventListener("scroll", function () {
    const header = document.querySelector("header");
    if (window.scrollY > 0) {
      header?.classList.add("bg-[#FFF]", "shadow-lg", "transition-all", "duration-500", "ease-out");
      header?.classList.remove("bg-transparent");
    } else {
      header?.classList.remove("bg-[#FFF]", "shadow-lg");
      header?.classList.add("bg-transparent");
    }
  });
</script>
