---
interface Props {
  title: string;
  pageTitle: string;
  description: string;
}
const { title, pageTitle, description } = Astro.props;
import { ClientRouter } from "astro:transitions";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import "aos/dist/aos.css";
import "@styles/globals.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Proyecto de Cumtual" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Bienes Raíces - {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <ClientRouter />
  </head>
  <body class="bg-cumtual-light text-slate-800 antialiased overflow-x-hidden min-h-screen flex flex-col font-sans">
    <script>
      import { myAosInit } from "@utils/aos";
      myAosInit();
      document.addEventListener("astro:after-swap", myAosInit);
    </script>
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
